@import url("./_tailwind.css");
@import url("./_colors.css");
@import url("./_theme.css");
@import url("./_fonts.css");

* {
  @apply border-border/50;
  font-family: 'Outfit';
}
.section-resume:before
{
  opacity: 0;
  visibility: hidden;
  animation: blink .2s linear forwards;
}
@keyframes blink
{
  0%
  {
    opacity: 0;
    visibility: hidden;
  }
  30%
  {
    opacity: 1;
    visibility: visible;
  }
  50%
  {
    opacity: 0;
    visibility: hidden;
  }
  70%
  {
    opacity: 1;
    visibility: visible;
  }
  100%
  {
    opacity: 0;
    visibility: hidden;
  }
}
.phonefield-wrapper .flag-dropdown
{
  width: 50px;
}
.phonefield-wrapper.react-tel-input .selected-flag
{
  width: 50px;
}
.phonefield-wrapper.react-tel-input .selected-flag .arrow
{
  left: 30px;
}